@font-face {
    font-family: 'Butler';
    font-weight: normal;
    src: url('fonts/Butler_Regular.eot');
    src: url('fonts/Butler_Regular.eot') format('embedded-opentype'),
         url('fonts/Butler_Regular.woff2') format('woff2'),
         url('fonts/Butler_Regular.woff') format('woff'),
         url('fonts/Butler_Regular.ttf') format('truetype'),
         url('fonts/Butler_Regular.svg#Butler_Regular') format('svg');
}
@font-face {
    font-family: 'Butler_Stencil';
    font-weight: normal;
    src: url('fonts/Butler_Regular_Stencil.eot');
    src: url('fonts/Butler_Regular_Stencil.eot') format('embedded-opentype'),
         url('fonts/Butler_Regular_Stencil.woff2') format('woff2'),
         url('fonts/Butler_Regular_Stencil.woff') format('woff'),
         url('fonts/Butler_Regular_Stencil.ttf') format('truetype'),
         url('fonts/Butler_Regular_Stencil.svg#Butler_Regular_Stencil') format('svg');
}

@font-face {
    font-family: 'product-icons';
    src:    url('fonts/product-icons.eot?ccff4j');
    src:    url('fonts/product-icons.eot?ccff4j#iefix') format('embedded-opentype'),
        url('fonts/product-icons.ttf?ccff4j') format('truetype'),
        url('fonts/product-icons.woff?ccff4j') format('woff'),
        url('fonts/product-icons.svg?ccff4j#product-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="vz-"], [class*=" vz-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'product-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vz-logo:before {
    content: "\e900";
}
.vz-bitbucket:before {
    content: "\e901";
}
.vz-github:before {
    content: "\e902";
}
.vz-linkedin:before {
    content: "\e903";
}
.vz-twitter:before {
    content: "\e904";
}
.vz-google-plus:before {
    content: "\e905";
}
.vz-facebook:before {
    content: "\e906";
}

