$caribbean_green: #03C9A9;
$flamingo: #EF4836;
$grey: #6C7A89;
$california: #F89406;
$wistful: #AEA8D3;

.events {

  .event_info{
    display: flex;
    padding: 8px;
    flex-direction: column;

    .basic {
      display: flex;

      .status {
        font-weight: 100;
        font-size: 16pt;
        padding: 10px;

        &.open{
          color: $caribbean_green;
        }
        &.closed{
          color: $flamingo;
        }
        &.draft{
          color: $wistful;
        }
        &.sold_out{
          color: $california;
        }
      }

      .dates{
        font-weight: 300;
        font-size: 12pt;
        padding: 10px 0;
      }

      .available_seats{
        font-weight: 300;
        .values{
          font-weight: 500;
          display: inline;
          font-size: 12pt;
        }
      }
    }

    .name{
      font-weight: 500;
      font-size: 14pt;
      padding: 10px 0;
    }

    .description {
      font-weight: 300;
      font-size: 11pt;
      padding: 5px 0;
    }
  }
  .right{
    text-align: end;
    flex: 1;
  }

  .left {
    flex: 1;
  }

  .rsvp {
    padding: 8px;
    padding-right: 18px;

    a{
      color: $grey;
      text-decoration: none;
    }
  }
  .sessions_list{
    margin-left: 40px;


    .sessions_header{
      padding: 0 8px;
      font-size: 20px;
      font-weight: 500;
    }
    .event_info {
      position: relative;

      .session_checkbox{
        position: absolute;
        left: -30px;
        top: 18px;
      }
      .basic {

        .status {
          font-size: 13pt;
        }
      }

      .name{
        font-weight: 300;
        font-size: 13pt;
      }

      .description{
        font-size: 11pt;
        margin-bottom: 5px;
      }
    }
  }
  .attendee_form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    .attendee_form_header{
      font-size: 14pt;
      font-weight: 400;
    }
  }
}
